.next
node_modules
.svn
.git
*.md
*.mdx
*.json
*.lock
*.yaml
*.yml
*.html
*.css
*.scss
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
*.tsbuildinfo
.next/
.DS_Store
*.pem
**/.vercel
**/.next
**/out
**/build
**/dist
**/node_modules
**/.turbo
**/.cache
**/.sass-cache
**/coverage
**/__snapshots__
**/*.min.*
**/*.d.ts
**/*.d.ts.map
**/*.js.map
**/*.css.map
**/*.spec.*
**/*.test.*
**/*.stories.*
**/CHANGELOG.md
**/LICENSE*
